

body{
  font-family:"Myriad Pro", "Trebuchet MS", sans-serifs;
  text-shadow:1px 1px 1px #000;
}

#button1{
  margin-bottom: 20px;
}



button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

.hov1:hover {
  color: #4b2354;
  text-decoration: underline;
}




.container-login100 {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
}