body{
	background-image: url("searchbg.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	font-family:"Myriad Pro", "Trebuchet MS", sans-serifs;
	  text-shadow:1px 1px 1px #000;
	  height: 100%;
	  color: #4b2354;
	  font-size: 30px;
}
form
{
	margin-left: 400px;
	margin-top: 100px;
}
.login100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  min-width: 120px;
  height: 40px;
  background-color: #bd59d4;
  border-radius: 25px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;
  text-shadow:1px 1px 1px #000;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  margin-top: 30px;
  margin-left: 200px;
  box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.5);
  -moz-box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.5);
  -webkit-box-shadow: 0 5px 30px 0px rgba(189, 89, 212, 0.5);
  -o-box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.5);
  -ms-box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.5);
}

.login100-form-btn:hover {
  background-color: #4b2354;
  box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.8);
  -moz-box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.8);
  -webkit-box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.8);
  -o-box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.8);
  -ms-box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.8);
}

